.blog-post-content {
  width: 100%;
  max-width: 680px;
  margin: 0 auto;
}
.blog-post-content img {
  width: 100%;
}
.blog-post-content code {
  background-color: #2b2b2b;
  color: white;
  font-size: 16px;
  padding: 3px 5px;
  margin: 0 2px;
  border-radius: 3px;
}
.blog-post-content h1,
.blog-post-content h1 a {
  font-size: 50px;
}
.blog-post-content h2,
.blog-post-content h2 a {
  font-size: 40px;
}
.blog-post-content h3,
.blog-post-content h3 a {
  font-size: 28px;
}
.blog-post-content h4,
.blog-post-content h4 a {
  font-size: 22px;
}
.blog-post-content h5,
.blog-post-content h5 a {
  font-size: 18px;
}

.back-area {
  display: flex;
  flex-direction: column;
  padding-bottom: 30px;
}
.back-area h1 {
  font-size: 2em;
}

.prev-next-area {
  display: flex;
  flex-direction: column;
}
@media (min-width: 768px) {
  .prev-next-area {
    flex-direction: row;
  }
}

.prev-next-item {
  flex: 1;
  padding: 30px 30px 0 0;
}
