@font-face {
  font-family: 'Acre';
  font-weight: 400;
  font-style: normal;
  src: url('../../static/acre-medium-webfont.woff2') format('woff2');
  font-display: block;
}

html {
  font-family: sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

.layout {
  margin: 0 auto;
  padding: 50px 30px;
  min-height: 100vh;
}

a,
a:visited {
  text-decoration: none;
}

body {
  font-family: 'Acre';
  font-weight: 400;
  color: #2b2b2b;
}

a,
p {
  font-family: sans-serif;
  font-weight: 400;
  font-size: 19px;
  line-height: 1.65;
}

a h1 {
  font-family: 'Acre';
}

a,
a:visited {
  color: steelblue;
}
a:hover {
  color: tomato;
}

.content {
  max-width: 680px;
}
