@font-face {
  font-family: 'Marvin Visions';
  font-weight: 400;
  font-style: normal;
  src: url('../static/MarvinVisionsBig-Bold.woff2') format('woff2');
  font-display: block;
}

@font-face {
  font-family: 'Acre';
  font-weight: 400;
  font-style: normal;
  src: url('../static/acre-medium-webfont.woff2') format('woff2');
  font-display: block;
}

.shadow {
  text-shadow: 0 1px 20px rgba(0, 0, 0, 0.7), 0 1px 4px rgba(0, 0, 0, 0.4);
}
.shadow-link-within a {
  text-shadow: 0 1px 20px rgba(0, 0, 0, 0.7), 0 1px 4px rgba(0, 0, 0, 0.4);
}

.project-page {
  overflow: hidden;
  position: relative;
  font-family: 'Acre';
  font-weight: 400;
  background-color: #002634;
}

.project-page li,
.project-page ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.project-page .layout {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}

.project-page a,
.project-page a:visited {
  text-decoration: none;
}

.project-page a,
.project-page p {
  font-family: 'Acre';
  font-weight: 400;
  font-size: 20px;
  line-height: 1.35;
}

.project-page p,
.project-page h1 {
  color: #fff7e0;
}

.project-page a,
.project-page a:visited {
  color: #e5d8fb;
}
.project-page a:hover {
  color: #cbb0f5;
}

.project-page .content {
  max-width: 550px;
}

.project-page .page-header {
  color: #fff7e0;
  margin: 0 0 45px;
  font-family: 'Marvin Visions';
  font-weight: 400;
  font-size: 199px;
  line-height: 0.73;
  letter-spacing: 4px;
  background: linear-gradient(-30deg, #ff384a -100%, #ffc04d 80%, #fff7e0 150%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
@media (max-width: 550px) {
  .project-page .page-header {
    font-size: 100px;
    letter-spacing: 2px;
    max-width: 250px;
  }
}

.project-page .header {
  font-size: 20px;
  font-weight: 400;
  text-transform: uppercase;
  margin: 0;
  padding: 65px 0 20px 0;
  letter-spacing: 3px;
}

.project-page .project-area {
  z-index: 2;
  margin: 50px 0 100px;
  display: grid;
  grid-gap: 40px;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(20, 375px);
}
@media (min-width: 1100px) {
  .project-page .project-area {
    width: 1000px;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(20, 375px);
  }
}
@media (min-width: 1650px) {
  .project-page .project-area {
    width: 1500px;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(20, 375px);
  }
}

.project-page .project {
  position: relative;
  border-radius: 8px;
  background-color: #000;
  display: flex;
  align-items: center;
  justify-content: center;
}
.project-page .project:hover {
  box-shadow: 0 0 250px #e10a6e, 0 0 200px #e10a6e, 0 0 150px #e10a6e,
    0 0 100px #e10a6e, 0 0 100px #e10a6e;
}

.project-page .project__shroud {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 2;
  border-radius: 8px;
  overflow: hidden;
  transition: transform 0.125s cubic-bezier(0, 0.77, 0, 0.98);
}
.project-page .project:hover .project__shroud {
  transform: scale(1.07);
}

.project-page .project__shroud::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 2;
  background: linear-gradient(
    10deg,
    #071349,
    #101d57,
    #31418c 50%,
    transparent 70%,
    transparent
  );
  transform: translate(0, 100%);
  transition: transform 1s cubic-bezier(0, 0.77, 0, 0.98);
}
.project-page .project:hover .project__shroud::after {
  transform: translate(0, 0);
}

.project-page .project__image {
  z-index: 1;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transform: none;
  opacity: 0.55;
  transition: transform 0.125s cubic-bezier(0, 0.77, 0, 0.98),
    opacity 0.125s cubic-bezier(0, 0.77, 0, 0.98);
  filter: contrast(0.4) brightness(0.7) sepia(1) saturate(5) hue-rotate(195deg);
}
.project-page .project:hover .project__image {
  transform: scale(1.07);
  filter: none;
  opacity: 1;
}
.project-page .project .gatsby-image-wrapper {
  border-radius: 8px;
  width: 100%;
  height: 100%;
}
.project-page .project__content {
  z-index: 2;
  width: calc(100% - 60px);
  height: calc(100% - 60px);
  display: flex;
  justify-content: flex-end;
  flex-direction: column;
}
.project-page .project__content h1 {
  font-size: 50px;
  max-width: 90%;
  color: #fff7e0;
  margin: 0;
  font-family: 'Marvin Visions';
  font-weight: 400;
  line-height: 0.75;
  letter-spacing: 1px;
  background: linear-gradient(to top, #c1c9bc 0%, #fff7e0 100%);
  background: linear-gradient(to bottom, #c1c9bc 0%, #fff7e0 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.project-page .prohect:hover .project__content h1 {
  filter: brightness(1.5);
}
.project-page .project__content > p,
.project-page .project__content > p > a {
  max-width: 90%;
  font-size: 15px;
  font-weight: 400;
  margin: 10px 0 0;
}

.project-page .project__content p {
  color: #dcdecd;
}

@media (max-width: 550px) {
  .project-page .project__content h1 {
    font-size: 35px;
  }
}

.project-page .button,
.project-page .button:visited {
  display: inline-block;
  margin: 15px 5px 0 0;
  background-color: #005375;
  color: #fff;
  padding: 5px 15px;
  border-radius: 4px;
  text-transform: uppercase;
  letter-spacing: 1.5px;
  font-size: 14px;
  transition: all 0.8s cubic-bezier(0, 0.48, 0, 1.08);
}
.project-page .button--primary,
.project-page .button--primary:visited {
  color: #fff;
  background-color: #e10a6e;
}
.project-page .button:hover {
  color: #005375;
  background-color: #f9f1d8;
}

#scanlines {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: radial-gradient(
    ellipse at center,
    hotpink 0,
    #e10a6e 70%,
    #000 90%
  );
  background-size: 100vw 7px;
  background-repeat: repeat;
  animation: infinite scanline-scroll 0.75s linear;
}
@keyframes scanline-scroll {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: 0 -7px;
  }
}

#shadow {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
  z-index: 0;
  background-image: linear-gradient(
    180deg,
    #000 0px,
    transparent 300px,
    #000 600px,
    #000 100%
  );
}

#the-grid {
  height: 900px;
  width: 200vw;
  opacity: 1;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  margin: 0 -50%;
  overflow: hidden;
  transform: perspective(200px) rotateX(60deg);
  z-index: 0;
  background-size: 40px 40px;
  background-image: repeating-linear-gradient(
      0deg,
      #fff,
      #fff 2px,
      transparent 1px,
      transparent 40px
    ),
    repeating-linear-gradient(
      -90deg,
      #fff,
      #fff 2px,
      transparent 2px,
      transparent 40px
    );
  animation: infinite grid-flyover 8s linear;
}
#the-grid::before {
  content: '';
  height: 100%;
  width: 100%;
  opacity: 1;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  overflow: hidden;
  background-size: 40px 40px;
  filter: blur(2px);
  background-image: repeating-linear-gradient(
      0deg,
      #e10a6e,
      #e10a6e 2px,
      transparent 1px,
      transparent 40px
    ),
    repeating-linear-gradient(
      -90deg,
      #e10a6e,
      #e10a6e 2px,
      transparent 2px,
      transparent 40px
    );
}

@keyframes grid-flyover {
  0% {
    transform: perspective(200px) rotateX(60deg) translateY(-40px);
  }
  100% {
    transform: perspective(200px) rotateX(60deg) translateY(0px);
  }
}

#glow {
  height: 755px;
  width: 100vw;
  opacity: 1;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 0;
  background-size: 1500% 180px;
  background-position: 50%;
  background-image: radial-gradient(#fff 0, #e10a6e 10%, transparent 55%);
  background-repeat: no-repeat;
}

.project-page-header-area {
  padding: 100px 70px 140px;
}

.project-page-header-area__inner {
  position: relative;
}

.project-page-header,
.project-page-header__glow,
.project-page-header__outline,
.project-page-header__shine {
  position: absolute;
  top: 50;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  font-size: 65px;
  margin: 0 auto;
  font-family: Marvin Visions;
  font-weight: 400;
  line-height: 0.75;
  letter-spacing: 5px;
}

.project-page-header {
  color: #fff;
  background: linear-gradient(
    to bottom,
    #681cec 0%,
    #fff 50%,
    #fff 50%,
    #e76be9 70%,
    #fff 100%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.project-page-header__glow {
  user-select: none;
  pointer-events: none;
  color: #681cec;
  text-shadow: 0 0 20px #681cec, 0 0 120px #681cec, 0 0 80px #681cec;
}

.project-page-header__outline {
  user-select: none;
  pointer-events: none;
  color: #efefef;
  text-shadow: 3px 3px 0 #efefef, -3px 3px 0 #efefef, 3px -3px 0 #efefef,
    -3px -3px 0 #efefef;
}

.project-page-header__shine {
  user-select: none;
  pointer-events: none;
  color: transparent;
  background: linear-gradient(
    to bottom,
    transparent 0%,
    transparent 50%,
    #5725a8 50%,
    transparent 70%,
    transparent 100%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  filter: blur(2px);
}

@media (min-width: 768px) {
  .project-page-header,
  .project-page-header__glow,
  .project-page-header__outline,
  .project-page-header__shine {
    font-size: 150px;
  }
}
